<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Bucketlist</title>
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">

  <link rel="stylesheet" href="{{ url_for('static', filename='vendor/stylesheets/bootstrap.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='vendor/stylesheets/font-awesome.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='vendor/stylesheets/ionicons.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='vendor/stylesheets/AdminLTE.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='vendor/stylesheets/_all-skins.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='vendor/stylesheets/iCheck/square/blue.css') }}">

  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
  <script src="{{ url_for('static', filename='vendor/javascripts/html5shiv.js') }}></script>
  <script src="{{ url_for('static', filename= 'vendor/javascripts/respond.min.js') }}></script>
  <![endif]-->

  <script type="text/html" id='login-template'>
    {% include '_login.html' %}
  </script>

  <script type="text/html" id='signup-template'>
    {% include '_user_register.html' %}
  </script>

  <script type="text/html" id='header-template'>
    {% include '_header.html' %}
  </script>

  <script type="text/html" id='bucketlists-index-template'>
    {% include '_bucketlists_index.html' %}
  </script>

  <script type="text/html" id='bucketlist-create-view'>
    {% include '_bucketlist_create_view.html' %}
  </script>

  <script type="text/html" id='bucketlist-view'>
    {% include '_bucketlist_show_view.html' %}
  </script>

  <script type="text/html" id='item-create-view'>
    {% include '_item_create_view.html' %}
  </script>

</head>
<body class="hold-transition lockscreen">
  <div class="wrapper">
  </div><!-- wrapper -->


  <script src="{{ url_for('static', filename='vendor/javascripts/jquery.js') }}"></script>
  <script src="{{ url_for('static', filename='vendor/javascripts/underscore.js') }}"></script>
  <script src="{{ url_for('static', filename='vendor/javascripts/backbone.js') }}"></script>
  <script src="{{ url_for('static', filename='vendor/javascripts/bootstrap.js') }}"></script>
  <script src="{{ url_for('static', filename='vendor/javascripts/icheck.js') }}"></script>
  <script id="config" type="text/json">
      {
        "models"      : {},
        "collections" : {},
        "views"       : {},
        "router"      : null,
        "registerURL" : "/users/",
        "loginURL"    : "/login/",
        "bucketlistsURL" : "/bucketlists/",
        "itemsURL"    : "/items/",
        "usersURL": "/users/"
      }
  </script>

  <script src="{{ url_for('static', filename='javascripts/app.js') }}"></script>
  <script src="{{ url_for('static', filename='javascripts/model.js') }}"></script>
  <script src="{{ url_for('static', filename='javascripts/collections.js') }}"></script>
  <script src="{{ url_for('static', filename='javascripts/views.js') }}"></script>
  <script src="{{ url_for('static', filename='javascripts/routes.js') }}"></script>
</body>
</html>
